<launch>
  <!-- DO NOT TOUCH ======================================================================================== -->
  <!-- Proper tf configuration -->
  <node pkg="tf" type="static_transform_publisher" name="static_tf_0" args="0 0 0 0 0 1.5708 /base /L120 10"/>
  <node pkg="tf" type="static_transform_publisher" name="static_tf_1" args="0 0 0 0 0 1.5708 /maxon /laser 10"/>
  <!-- DO NOT TOUCH ======================================================================================== -->

  <node pkg="epos_driver" type="epos_driver_node" name="wrist" required="true">
    <param name="port" value="/dev/ttyUSB1" />
    <param name="accel_radpss" value="0.02" />
    <param name="max_velocity_radps" value="0.7" />
    <param name="topic_frequency" value="1000" />
    <param name="use_trapezoidal" value="true" />
    <param name="parent_frame_id" value="L120" />
  </node>
  <node pkg="sicktoolbox_wrapper" type="sicklms" name="lms" output="screen" required="true">
   <param name="port" value="/dev/ttyUSB4" />
   <param name="baud" value="500000" />
 </node> 
</launch>
