Source: ros-hydro-epos-driver
Section: misc
Priority: extra
Maintainer: Tomasz Kucner <tomasz.kucner@oru.se>
Build-Depends: debhelper (>= 9.0.0), ros-hydro-catkin, ros-hydro-message-generation, ros-hydro-roscpp, ros-hydro-rospy, ros-hydro-std-msgs, ros-hydro-tf
Homepage: http://wiki.ros.org/epos_driver
Standards-Version: 3.9.2

Package: ros-hydro-epos-driver
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-hydro-message-runtime, ros-hydro-roscpp, ros-hydro-rospy, ros-hydro-std-msgs, ros-hydro-tf
Description: ROS driver for EPOS controller
